@{
    ViewData["Title"] = "Home";
}

<div class="container mt-2 mt-md-5" data-aos="fade-up">
    <div class="row">
        <div class="col-12">
            <div class="card bg-light">
                <div class="card-body">
                    <h3 class="card-title">Hi. I'm Andrew.</h3>
                    <p class="card-text">
                        Thanks for stopping by! I'm a designer / artist / tinkerer who tries to craft human connection on (and off)
                        the internet. This has been a personal side project and I intend to use this space to showcase my work. More projects will
                        be arriving soon. Please connect on <a class="text-light bg-dark" href="https://www.linkedin.com/in/abraytondesign/" target="_blank">LinkedIn</a>
                        if you would like to contact me. Sometimes I post UI components and code experiments on
                        <a class="text-light bg-dark" href="https://codepen.io/abraytondesign" target="_blank">Codepen.io</a>
                    </p>
                    <p class="card-text">
                        This portfolio was built with
                        <span class="initialism">ASP.NET</span>
                        Core
                        <abbr title="Mostly just 'VC' because... I'm front-end! :)" class="initialism">
                            MVC
                        </abbr> with a custom Bootstrap 4 framework. Want the code? Check out the project on
                        <a class="text-light bg-dark" href="https://github.com/abrayton/portfolio" target="_blank">Github.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="container mt-2" >
    <div class="row">
        <div class="col-12">
            <div role="status" aria-live="polite" aria-atomic="true" style="position: relative; min-width: 200px;">
                <div class="toast" data-autohide="false" data-aos="fade-zoom-in" data-aos-delay="800" style="position: absolute; right: 0; top: 20px;">
                    <div class="toast-header text-light bg-primary">
                        <strong class="mr-auto">Sorry for the extra clicks!</strong>
                        <button type="button" class="ml-2 mb-1 text-light close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        Welcome, glad you made it! I'm sorry you had to click through security warnings to get here, but I'm unable to purchase an SSL at this time.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<a class="unsplash-badge" href="https://unsplash.com/@@varietou?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Background photo by Jules D. on Unsplash">
    <span class="d-md-none text-light m-badge"><small>Background photo by Jules D. on Unsplash</small></span>
    <span class="d-none d-md-inline-block py-1 px-1 text-light">
        <svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg>
    </span>
    <span class="d-none d-md-inline-block py-1 px-1 text-light">Unsplash</span>
</a>

@section Scripts {
    <script>
        $.backstretch("/img/bg.jpg");
        $(".toast").toast("show");
    </script>
}
