
@{
    ViewData["Title"] = "Resume";
}

<div class="container mt-2 mt-md-5" data-aos="fade-up">
    <div class="row">
        <div class="col-12 mt-md-4">
            <div class="card bg-light">
                <div class="card-body">
                    <h3 class="card-title text-primary">Andrew Brayton<br /> <small class="text-muted text-uppercase">UI/UX Designer</small></h3>
                    <p class="card-text">
                        I am a web professional with experience in-house and freelance. Work is balanced between front-end development
                        and UI/UX problem solving. My current role partners with a team of developers to identify and solve user-experience related
                        problems. I work within complex financial reporting applications to bridge the gap between development and usability. Each
                        challenge allows new ways to apply creative and innovative thinking; by integrating design and function, I deliver results
                        that are meaningful and relevant to the user.
                    </p>
                    <div class="row mt-md-4">
                        <div class="col-12 col-lg-7">
                            <p class="card-text font-weight-bold text-uppercase mb-0">Current Role:</p>
                            <h5 class="font-weight-light">American Financial & Automotive Services, Inc.</h5>
                            <p class="card-text">
                                Actively maintains a series of large corporate front-end, Intranet and CRM web applications. Experience based in design
                                and development for B2B and B2B2C digital marketing, heavily centered on usability and function. Other tasks include web marketing,
                                managing operational maintenance and FTP uploads for company-wide departments. Provides the internal marketing and product development
                                teams with custom web designs for landing pages and annual contests. Mentors and guides junior team members.
                            </p>
                            <p class="card-text font-weight-bold text-uppercase mb-0">Past:</p>
                            <h5 class="font-weight-light">US Army </h5>
                            <p class="card-text mb-0 ">
                                <button class="btn btn-link p-0" data-toggle="modal" data-target="#psyop" type="button">37F Psychological Operations</button>
                                <span class="initialism">2009</span>&ndash;<span class="initialism">2012</span>
                            </p>
                            <p class="card-text mb-0 ">
                                <button class="btn btn-link p-0" data-toggle="modal" data-target="#scout" type="button">19D Cavalry Scout</button>
                                <span class="initialism">2004</span>&ndash;<span class="initialism">2009</span>
                            </p>
                            <p class="card-text font-weight-bold text-uppercase mb-0">Education:</p>
                            <h5 class="font-weight-light">BFA &dash; Graphic &amp; Web Design</h5>
                            <p class="card-text">The Art Institute of Houston <span class="initialism">2016</span> Graduate</p>
                        </div>
                        <div class="col-12 col-lg-5">
                            <p class="card-text font-weight-bold text-uppercase mb-0 ">Specialities:</p>
                            <p>UX prototyping - HTML5 - CSS3 | SCSS - JavaScript/ jQuery - Responsive Mobile Design - Web Graphics.</p>
                            <p class="card-text font-weight-bold text-uppercase mb-0">Design:</p>
                            <ul class="card-text">
                                <li>Skilled with Adobe Creative Suite.</li>
                                <li>Proficient in UX research and prototyping.</li>
                                <li>Experienced with logo design and corporate branding.</li>
                                <li>Expert in responsive cross-platform layout.</li>
                                <li>Knowledge of web analytics and SEO best practices.</li>
                            </ul>
                            <p class="card-text font-weight-bold text-uppercase mb-0">Development:</p>
                            <ul class="card-text">
                                <li>Skilled languages: HTML, CSS, SASS, and JavaScript.</li>
                                <li>Proficient with Gulp and NuGet.</li>
                                <li>Experienced with package managers NPM and Yarn.</li>
                                <li>Expert with Bootstrap Frameworks.</li>
                                <li>Knowledge of MVC and ASP.NET Razor syntax.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--./card-->
        </div>
    </div>
</div>


